# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto

## To create the dataframe:

1. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
2. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
3. More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
5. Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
6. In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

### Import required libraries and get data

In [167]:
import pandas as pd

In [168]:
#set url and use pandas to read

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
table = pd.read_html(url)

In [169]:
#print(table[0]) #The table we are looking for is at [0]
df = pd.DataFrame(table[0])
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

### Prepare and clean Data

In [170]:
df.columns = ['PostalCode','Borough','Neighborhood'] #rename the columns as required
df = df[1:] #delete first row as it was the original titles

In [171]:
df.head() #check everything is going ok

  PostalCode           Borough      Neighborhood
1        M1A      Not assigned      Not assigned
2        M2A      Not assigned      Not assigned
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront

In [172]:
#drop rows without assigned Borough. 
#I understand from nº2 in the steps to create the dataframe that any row without a Borough assigned should not be included
df=df[df.Borough != 'Not assigned']

In [173]:
df.head()

  PostalCode           Borough      Neighborhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights

In [174]:
#group by PostalCode, and join values of Neighborhood for the same PostalCode by comma.
df[['PostalCode','Neighborhood']]=df.groupby('PostalCode')['Neighborhood'].agg([('Neighborhood', ', '.join)]).reset_index()

In [175]:
df.head()

  PostalCode           Borough                                 Neighborhood
3        M1G        North York                                       Woburn
4        M1H        North York                                    Cedarbrae
5        M1J  Downtown Toronto                          Scarborough Village
6        M1K  Downtown Toronto  East Birchmount Park, Ionview, Kennedy Park
7        M1L        North York              Clairlea, Golden Mile, Oakridge

In [176]:
df.size
df.index.size

212

In [177]:
df_size = df.index.size #get index size
n=0 #initialize n
for n in range(0,df_size): #iterate rows
    if df.iloc[n,2]=='Not assigned': #check if not assigned on Neighborhood
        print('Before ',df.iloc[n,2],'and should be',df.iloc[n,1])
        df.iloc[n,2]=df.iloc[n,1] #replace not assigned neighborhood with Borough
        print('Now ',df.iloc[n,2],'is',df.iloc[n,1])
        n=n+1

Before  Not assigned and should be Downtown Toronto
Now  Downtown Toronto is Downtown Toronto

In [178]:
df.head()

  PostalCode           Borough                                 Neighborhood
3        M1G        North York                                       Woburn
4        M1H        North York                                    Cedarbrae
5        M1J  Downtown Toronto                          Scarborough Village
6        M1K  Downtown Toronto  East Birchmount Park, Ionview, Kennedy Park
7        M1L        North York              Clairlea, Golden Mile, Oakridge

In [179]:
df.shape

(212, 3)